# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
shinkwrap.log*

# Dependency directories
node_modules/
jspm_packages/

# SQLite Database
aram-guide.db
aram-guide.db-journal
aram-guide.db-shm
aram-guide.db-wal

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Project zips/packages
aram-guide.zip
